PORT=3000

##  DB
POSTGRES_URL=

DB_TYPE=
DB_HOST=
DB_PORT=
DB_PASSWORD=
DB_USERNAME=
DB_NAME=

NODE_ENV=

##  JWT
JWT_SECRET=
JWT_EXPIRY=

# add allowed domain
CORS_ORIGIN=http://localhost:5173

# Super Admin data - seed
ADMIN_USER_FIRSTNAME=
ADMIN_USER_LASTNAME=
ADMIN_USER_EMAIL=
ADMIN_USER_DOB=
ADMIN_USER_PASSWORD=

##  MAIL
MAIL_HOST=
MAIL_USER=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_FROM=
MAIL_TO=
OTP_EXPIRY_TIME=